.login{
    background: url('../assets/Login-register.png') no-repeat ;
    background-size: cover;
    height: 470px;
    padding: 100px 0px;
   display: flex;
   align-items: center;
   justify-content :center; 

}

.auth__form{
    background: rgba( 69, 94, 44, 0.6 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

display: flex;
flex-direction: column;
align-items: center;

    
}
.auth__form p a{
    color: rgb(189, 182, 182);
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}
.auth__form input{
    margin: 10px;
    border: 1.3px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
}
.auth__form p{
    margin-top: 30px;
}
.auth__form h3{
    color: white;
    margin-top: 15px;
}
.log__btn{
    border: none;
    outline:none;
    padding: 8px 8px;
    border-radius: 5px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 30px;
    width: 150px;
}
