.img{
    height: 300px;
    width: fit-content;
}
.product__details h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.product__details p{
    font-size: 1.2rem;
    font-weight: 450;
}
.releted_title{
    font-size: 1.2rem;
}
@media only screen and (max-widht: 768px){
    .product__details h2{
        font-size: 1.3rem;
    }
    
}
